<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>시큐리티 테스트</title>
</head>
<body th:align="center">
	<h1>로그인</h1>
	<form action="/login" method="post">
		<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
			<tr>
				<td bgcolor="orange">username:</td>
				<td><input type="text" name="username" placeholder="username" /></td>
			</tr>
			<tr>
				<td bgcolor="orange">password:</td>
				<td><input type="password" name="password" placeholder="password" /></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" value="로그인" /></td>
			</tr>
		</table>
	</form>
	<a th:href="@{/join}">회원가입 하기</a>
</body>
</html>