<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>시큐리티 테스트</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body th:align="center">
	<h2>로그인</h2>
	<form action="/login" method="post">
		<table th:align="center">
			<tr>
				<td>username: </td>
				<td><input type="text" name="username" placeholder="Username"/></td>
			</tr>
			<tr>
				<td>password: </td>
				<td><input type="password" name="password" placeholder="Password"/></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="로그인"/></td>
			</tr>
		</table>
	</form>

</body>
</html>